* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_42 {
  width: 100%;
  height: 726px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_43 {
  width: 100%;
  height: 726px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v1_44 {
  width: 314px;
  height: 128px;
  background: url("../images/v1_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_46 {
  width: 193px;
  color: rgba(32,58,70,1);
  position: absolute;
  top: 64px;
  left: 283px;
  font-family: Forum;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v1_47 {
  width: 320px;
  color: rgba(32,58,70,1);
  position: absolute;
  top: 64px;
  left: 480px;
  font-family: Forum;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}

.v1_49 {
  width: 250px;
  color: rgba(32,58,70,1);
  position: absolute;
  top: 64px;
  left: 791px;
  font-family: Forum;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v1_50 {
  width: 811px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 128px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
